[submodule "shaders/godot-psx-shaders"]
	path = shaders/godot-psx-shaders
	url = https://github.com/suziziziz/godot-psx-shaders
[submodule "addons/godot-export-categories"]
	path = addons/godot-export-categories
	url = https://github.com/mathewcst/godot-export-categories
